{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Gerenciamento Ocupacional</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
<body>
    <div class="container-fluid">
        <div class="topo">
            <h1>Sistema de gerenciamento ocupacional</h1>
        </div>

        <div id="corpo">
            <div id="title">LOGIN</div>
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group row">
                    <label class="col-sm-3" for="id_username" >Usuario</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="id_username" autofocus autocomplete="username"
                        required name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3" for="id_password" >Senha</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="id_password" autocomplete="current-password"
                        required name="password">
                    </div>
                </div>
                <button type="submit" class="btn btn-danger" value="entrar">Logar</button>
            </form>
            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        </div>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>