    {% extends 'base.html' %}

    {% block content %}
    <div class="titulo">ATENDIMENTO</div>
    <form name="form" id="form" class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="tab">
            <ul class="nav nav-tabs">
                <li class=" nav-item"><a class="nav-link active" href="{% url 'lista_atendimentos' %}">Atendimentos</a> </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'atendimentorisco_novo' atendimento.id %}">Riscos</a> </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'atendimentoexame_novo' atendimento.id %}">Exames</a> </li>
            </ul>
        </div>
        <div class="form1" style="height: 360px">
            <div class="form-group row">
                <label class="control-label col-sm-3" for="empregado_id">Empregado:</label>
                <div class="col-sm-8">
                    <select name="empregado_id" required id="empregado_id"  style="width: 75%; height: 30px; border: #CCC solid 1px">
                        <option value="" selected>Selecione</option>
                        {% for empregado in empregados %}
                            {% if atendimento.empregado_id == empregado.id %}
                                <option value="{{ empregado.id }}" selected>{{ empregado.nome }}</option>
                            {% else %}
                                <option value="{{ empregado.id }}">{{ empregado.nome }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="data_atendimento">Data:</label>
                <div class="col-sm-8">
                    <input type="text" name="data_atendimento" required id="data_atendimento"
                    value="{{ atendimento.data_atendimento|date:"d/m/Y" }}">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="tipoexame_id">Tipo de Exame:</label>
                <div class="col-sm-8">
                    <select name="tipoexame_id" required id="tipoexame_id"  style="width: 75%; height: 30px; border: #CCC solid 1px">
                        <option value="" selected>Selecione</option>
                        {% for tipoexame in tipoexames %}
                            {% if atendimento.tipoexame_id == tipoexame.id %}
                                <option value="{{ tipoexame.id }}" selected>{{ tipoexame.nome }}</option>
                            {% else %}
                                <option value="{{ tipoexame.id }}">{{ tipoexame.nome }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="altura">Trabalho Altura:</label>
                <div class="col-sm-1">
                    {% if atendimento.trabalhoaltura == True %}
                    <input type="checkbox" checked name="altura" id="altura">
                    {% else %}
                    <input type="checkbox" name="altura" id="altura">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="espaco">Espaco Confinado:</label>
                <div class="col-sm-1">
                    {% if atendimento.espacoconfinado == True %}
                    <input type="checkbox" checked name="espaco" id="espaco">
                    {% else %}
                    <input type="checkbox" name="espaco" id="espaco">
                    {% endif %}
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="apto">Apto:</label>
                <div class="col-sm-1">
                    {% if atendimento.apto == True %}
                    <input type="checkbox" checked name="apto" id="apto">
                    {% else %}
                    <input type="checkbox" name="apto" id="apto">
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="botoes">
            <div class="form-group mt-3" style="text-align: center">
                <button type="submit" style="color: white; margin: 0 auto" class="btn btn-primary btn-lg">Alterar</button>
            </div>
        </div>
        <a href="{% url 'atendimento_delete' atendimento.id %}"
         type = "submit" class = "btn btn-danger btn-lg" style="float:right; margin-top:-66px;">
             Excluir
        </a>

        {% if messages %}
            <div class="alert alert-warning">
            {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
            {% endfor %}
            </div>
        {% endif %}
    </form>

    {% endblock %}