    {% extends 'base.html' %}

    {% block content %}
    <div class="titulo">SETORES</div>
    <form name="form" id="form" class="form-horizontal" method="post" action="">
        {% csrf_token %}
        <div class="form1">
            <div class="form-group row">
                <label class="control-label col-sm-3" for="nome">Nome</label>
                <div class="col-sm-8">
                    <input type="text" name="nome" maxlength="50" required id="id_nome">
                </div>
            </div>
        </div>
        <div class="botoes">
            <div class="form-group" style="text-align: center">
                <button type="submit" style="color: white; margin: 0 auto" class="btn btn-primary btn-lg">Incluir</button>
            </div>
        </div>

        {% if messages %}
            <div class="alert alert-warning">
            {% for m in messages %}
                <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</p>
            {% endfor %}
            </div>
        {% endif %}
    </form>

    {% endblock %}